.booksBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px 0;
}

.desktopList {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0b0500;
}
.item:not(:last-child) {
  margin-bottom: 8px;
}

.item:hover {
  text-decoration: underline;
}

.mobileSelect {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

@media (min-width: 1440px) {
  .BookCategory {
    width: 308px;
    position: relative;
  }
  .desktopList {
    display: block;
  }

  .mobileSelect {
    display: none;
  }
}

.sidebar {
  position: sticky;
  top: 20px;
  align-self: start;
  height: max-content;
}
